useDynLib(CGEN)
import(survival, mvtnorm)
export(snp.scan.logistic, snp.logistic, recode.geno, getSummary, getWaldTest, 
       QQ.plot, chromosome.plot, snp.effects, getMatchedSets, snp.matched, printEffects,
       additive.test, snp.effects.plot, GxE.scan, score.test, GxE.scan.combine, GxE.scan.partition)
S3method(print,snp.effects)
S3method(print,snp.effects.method)
S3method(print,snp.logistic)
S3method(print,snp.matched)
S3method(print,additive.test)
S3method(print,score.test)
S3method(summary,snp.logistic)
S3method(summary,snp.matched)